
html {
  --bg: #a89f9f;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #ff0000;
  --secondary: #0072CE;

  background-color: var(--bg);

}

body {
  margin: 0 auto;
  padding: 1em;
}

main {
  margin: 0 auto;
  max-width: 0 auto;
}



a,
.link {
  color: var(--primary);
  text-decoration: none;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: var(--secondary);
}

button, input {
  font: inherit;
  outline: none;
}

button {
  background-color: var(--secondary);
  border-radius: 5px;
  border: none;
  color: #efefef;
  cursor: pointer;
  padding: 0.3em 0.75em;
  transition: transform 30ms;
}
button:hover, button:focus {
  box-shadow: 0 0 10em rgb(255, 0, 0) inset;
}
button:active {
  box-shadow: 0 0 10em rgb(150, 34, 34) inset;
}
button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}

.mintmodal{ 
  position: fixed;
    top: 20px;
    right: 10px;
    font-size: large;
    
 }

 .mintmodal1{ 
  position: absolute;
  /* border: 3px solid #ffffff; */
    top: 4px;
    right: 95px;
    font-size: large;
    color: #000000;
}

 @media only screen and (max-width: 770px) {
  .mintmodal{ 
    position: fixed;
      top: 40px;
      right: 10px;
      font-size: large;
 }
 .mintmodal21{ 
  position: fixed;
  /* border: 3px solid #ffffff; */
    top: 26px;
    right: 95px;
    font-size: large;
    color: #ff00d49c;
}
 }

 .mintbutton{ 

  position: absolute;
  top: 550px;
  right: 170px;
  width: 400px;
  height: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 1;
 }

.image{
  position: absolute;
  top: 100px;
  max-width: 450px;
  max-height: 450px;
  }
  /* @media screen and (min-width: 480px) {
    mintmodal {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  } */
  .teks{ 
    position: absolute;
      top: 10px;
      left: 10px;
   }

   .val1{ 

    position: absolute;
    top: 350px;
    right: 400px;
    width: 150px;
    height: 50px;
    z-index: 1;
   }

.val2{ 
    position: absolute;
    top: 350px;
    right: 200px;
    width: 150px;
    height: 50px;
    z-index: 1;
}

   .val3{ 

    position: absolute;
    top: 410px;
    right: 300px;
    width: 150px;
    height: 50px;
    z-index: 1;
   }

   @media only screen and (max-width: 1320px) {
    .val1 {
      right: 300px;
      position: absolute;
      width: 150px;
    }
    .val2 {
      right: 100px;
      position: absolute;
      width: 150px;
    }
    .val3 {
      right: 200px;
      position: absolute;
      width: 150px;
    }
    .mintbutton{ 

      position: absolute;
      top: 550px;
      right: 70px;
      width: 400px;
      height: 50px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 1s ease-in-out;
      z-index: 1;
     }
  }

  @media only screen and (max-width: 1000px) {
    .val1 {
      right: 280px;
      position: absolute;
      width: 150px;
    }
  }
  @media only screen and (max-width: 950px) {
    .val1 {
      right: 200px;
      position: absolute;
      width: 100px;
    }
    .val2 {
      right: 90px;
      position: absolute;
      width: 100px;
    }
    .val3 {
      right: 150px;
      position: absolute;
      width: 100px;
    }
    .mintbutton{ 

      position: absolute;
      top: 550px;
      right: 70px;
      width: 250px;
      height: 50px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 1s ease-in-out;
      z-index: 1;
     }
  }

  @media only screen and (max-width: 650px) {
    .val1 {
      right: 150px;
      position: absolute;
      width: 50px;
    }
    .val2 {
      right: 70px;
      position: absolute;
      width: 50px;
    }
    .val3 {
      right: 100px;
      position: absolute;
      width: 60px;
    }
    .mintbutton{ 

      position: absolute;
      top: 500px;
      right: 60px;
      width: 150px;
      height: 50px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 1s ease-in-out;
      z-index: 1;
     }
  }

  @media only screen and (max-width: 450px) {
    .val1 {
      top: 380px;
      right: 80px;
      position: absolute;
      width: 50px;
    }
    .val2 {
      top: 380px;
      right: 25px;
      position: absolute;
      width: 50px;
    }
    .val3 {
      top: 440px;
      right: 50px;
      position: absolute;
      width: 60px;
    }
    .mintbutton{ 

      position: absolute;
      top: 500px;
      right: 30px;
      width: 100px;
      height: 50px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 1s ease-in-out;
      z-index: 1;
     }
  }
   .poto{ 
    top: 200px;
    right: 40px;
    
   }